@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1145px
	padding: 0 15px
	margin: 0 auto

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

// -----BUTTON-----
.btn
	position: relative
	display: flex
	justify-content: center
	align-items: center
	height: 45px
	font-family: $title
	font-size: 18px
	background-color: $accent
	font-weight: 700
	border-radius: 50px
	width: fit-content
	padding: 0 25px
	border: 1px solid $accent
	text-align: center

	+r(992)
		font-size: 16px

	+r(767)
		font-size: 14px
		padding: 0 15px

	&:hover,
	&:focus
		border: 1px solid $accent
		background: $accent
		color: #fff
		box-shadow: 0 0 25px 0 rgba($accent, 1)


.header
	position: absolute
	top: 0
	right: 0
	left: 0
	padding: 25px 0
	font-family: $title
	z-index: 1000
	+transition

	+r(992)
		padding: 15px 0

	&__container
		+between

	&__logo
		+r(992)
			display: block
			width: 100%
			text-align: center
			margin-bottom: 15px

	&__nav
		display: flex
		align-items: center
		flex-wrap: wrap

		+r(992)
			width: 100%
			justify-content: center

		+r(480)
			flex-direction: column

	&__soc
		display: flex
		background-color: #271a08
		margin-right: 30px

		+r(480)
			margin-right: 0
			margin-bottom: 10px
			justify-content: center

		li
			margin-right: 5px

		a
			display: block
			width: 35px
			height: 35px

			&:hover
				img
					transform: scale(.9)

			+r(992)
				width: 25px
				height: 25px
			
		img
			width: 100%
			height: 100%
			+transition

	&__phone
		white-space: nowrap
		margin-right: 20px
		font-size: 18px

		+r(992)
			font-size: 16px

		+r(767)
			font-size: 14px

		+r(576)
			margin-right: 0

	&__btn
		+r(576)
			margin-top: 10px


.hero
	+cover
	background-image: url(../img/hero__bg.png)
	padding-top: 135px
	padding-bottom: 85px
	text-align: center
	min-height: 100vh
	display: flex
	align-items: center

	+r(576)
		padding-top: 150px
		padding-bottom: 40px
	
	+r(480)
		padding-top: 170px

	h1
		margin-bottom: 40px
		font-size: 38px
		text-shadow: 5px 0 15px rgba($accent, .9)

		+r(992)
			font-size: 34px
			margin-bottom: 30px

		+r(576)
			font-size: 30px
			margin-bottom: 20px
		
		+r(480)
			font-size: 26px

	p
		margin-bottom: 30px

		+r(576)
			margin-bottom: 20px
	
	h3
		font-size: 20px
		color: $text
		margin-bottom: 20px

		+r(992)
			font-size: 18px

		+r(480)
			font-size: 16px
	
	&__btn
		margin: 0 auto 20px
		height: 60px
		font-size: 24px

		+r(992)
			font-size: 18px
			height: 50px

		+r(480)
			font-size: 16px

	&__next
		display: block
		width: 20px
		height: 20px
		border-top: 3px solid $accent
		border-left: 3px solid $accent
		margin: 0 auto
		transform: rotate(-135deg)
		+transition

		&:hover,
		&:focus
			transform: translate(0, 15px) rotate(-135deg)
			border-top: 3px solid $accent
			border-left: 3px solid $accent


.info
	padding-bottom: 15px

	p
		position: relative
		margin-bottom: 25px

		&:last-child
			margin-bottom: 0

		+r(992)
			margin-bottom: 20px

	img
		position: absolute
		top: 50%
		left: 0
		transform: translate(calc(-50% - 60px), -50%)

		+r(992)
			width: 45px
			transform: translate(calc(-50% - 40px), -50%)

		+r(767)
			transform: translate(calc(-50% - 50px), -50%)

	&__list
		position: relative
		padding-top: 55px
		margin-bottom: 80px

		+r(992)
			padding-top: 40px
			margin-bottom: 40px
		
		+r(767)
			padding-left: 40px

		&::before
			content: ''
			display: block
			position: absolute
			left: 50%
			transform: translate(-50%, 0)
			top: 0
			bottom: 0
			height: 100%
			width: 7px
			background-color: $accent

			+r(767)
				left: 30px

	&__item
		width: 50%
		padding-left: 60px
		margin-left: 50%

		+r(992)
			padding-left: 40px
		
		+r(767)
			width: 100%
			margin: 0 auto 30px

		&:nth-child(even)
			margin-right: 50%
			margin-left: 0
			padding-left: 0
			padding-right: 60px

			+r(992)
				padding-right: 40px
			
			+r(767)
				padding-right: 0
				padding-left: 40px

			img
				left: 100%
				transform: translate(calc(-50% + 60px), -50%)

				+r(992)
					transform: translate(calc(-50% + 40px), -50%)

				+r(767)
					left: 0
					transform: translate(calc(-50% - 50px), -50%)

		&:last-child
			margin-bottom: 0

	&__btn
		@extend .hero__btn
		margin-bottom: 0


.course
	background-size: cover
	background-repeat: no-repeat
	background-image: url(../img/course__bg.png)
	padding-top: 130px
	padding-bottom: 100px

	+r(1200)
		padding-top: 100px
		padding-bottom: 80px

	+r(992)
		+cover
		padding-top: 40px
		padding-bottom: 40px
	
	+r(576)
		padding: 40px 0
		

	h2, h3
		text-align: center

	h2
		margin-bottom: 20px

	h3
		font-size: 30px
		margin-bottom: 50px

		+r(992)
			font-size: 24px
			margin-bottom: 30px
		
		+r(576)
			font-size: 20px

	h4
		font-size: 25px
		color: $text
		text-align: center
		margin-bottom: 50px

		+r(992)
			margin-bottom: 30px
			font-size: 20px

		+r(576)
			margin-bottom: 20px
			font-size: 18px

	br
		+r(992)
			display: none

	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		max-width: 980px
		margin: 0 auto

		&_item
			width: 48%

			+r(480)
				width: 100%

		ul
			+r(480)
				margin-bottom: 25px
		
		li
			position: relative
			padding-left: 35px
			margin-bottom: 25px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				display: block
				width: 24px
				height: 24px
				background-color: $accent
				border-radius: 50%
				box-shadow: 0 0 10px 0 rgba($accent, .7)

			&:last-child
				margin-bottom: 0

	&__wrap
		position: relative
		padding-top: 55px
		padding-bottom: 40px
		max-width: 980px
		margin: 0 auto

		+r(767)
			padding: 30px 0

		&::before
			content: ''
			display: block
			position: absolute
			left: 50%
			transform: translate(-50%, -50%)
			top: 50%
			bottom: 0
			height: 85%
			width: 5px
			background-color: $accent

			+r(480)
				display: none

		img
			max-width: 95%

			+r(480)
				width: 100%
				max-width: 100%

		&_block
			display: flex
			position: relative
			width: 50%
			margin-right: 50%
			margin-top: -5px
			
			+r(767)
				margin-top: 0
				margin-bottom: 20px

			+r(480)
				width: 100%
				margin-right: 0

			&:nth-child(even)
				margin-left: 50%
				margin-right: 0
				justify-content: flex-end

				+r(480)
					margin-left: 0

				.course__wrap_text
					left: auto
					right: 50%

					+r(767)
						right: 90%

					+r(767)
						right: 60%

					+r(480)
						right: 0

		&_text
			position: absolute
			left: 50%
			top: 50%
			transform: translate(0, -50%)
			width: 85%
			background-color: $text
			font-size: 19px
			color: #3a3a3d
			padding: 15px 20px

			+r(1200)
				font-size: 16px
				padding: 10px

			+r(767)
				width: 110%
				left: 90%
			
			+r(576)
				font-size: 14px
				width: 140%
				left: 60%
			
			+r(480)
				left: 0%
				width: 100%
				bottom: 0
				top: auto
				transform: translate(0, 0)
				padding: 5px
				font-size: 12px

	&__btn
		@extend .hero__btn
		margin-bottom: 0


.properties
	padding-top: 80px
	padding-bottom: 135px

	+r(992)
		padding-top: 40px
		padding-bottom: 90px

	+r(767)
		padding: 30px 0

	h2
		text-align: center

	&__subtitle
		text-align: center
		margin-bottom: 20px

	&__price
		display: flex
		max-width: 490px
		width: 100%
		padding: 20px 30px
		margin: 0 auto
		background-color: $text
		color: #4d4d50

		img
			margin-right: 30px
		
		span
			color: $accent

	&__info
		position: relative
		padding-top: 30px
		max-width: 970px
		margin: 0 auto

		&_img
			max-width: 60%

			+r(576)
				display: block
				margin: 0 auto 20px

		&_first
			position: absolute
			top: 5px
			right: 0
			max-width: 490px
			width: 100%
			background-color: $text
			padding: 40px 25px 60px 25px
			color: #4d4d50

			+r(992)
				padding: 20px
				max-width: 400px
			
			+r(576)
				position: relative
				top: 0
				right: auto
				max-width: 100%
				margin-bottom: 20px

		&_last
			position: absolute
			top: 280px
			right: 65px
			background-color: $text
			max-width: 485px
			color: #4d4d50
			padding: 40px 15px 30px 20px
			box-shadow: 0 0 25px 0 rgba($bg, .4)

			+r(992)
				padding: 20px
				right: 0
				top: 200px
				max-width: 400px
				
			+r(767)
				top: 155px
			
			+r(576)
				position: relative
				top: 0
				right: auto
				max-width: 100%

			p
				display: flex
				align-items: flex-start
				margin-bottom: 35px

				+r(576)
					margin-bottom: 15px

				&:last-child
					margin-bottom: 0

			img
				margin-right: 30px

				+r(992)
					width: 36px
					margin-right: 20px


.statistics
	+cover
	background-image: url(../img/statistics__bg.png)
	text-align: center
	padding-top: 120px
	padding-bottom: 70px

	+r(992)
		padding-top: 80px
		padding: 40px
	
	+r(767)
		padding: 70px 0 20px

	h2
		margin-bottom: 15px
	
	p
		margin-bottom: 25px

		+r(992)
			margin-bottom: 15px

	&__subtitle
		font-family: $title
		font-size: 21px
		font-weight: 700

		+r(992)
			font-size: 18px

		+r(576)
			font-size: 16px

	&__btn
		@extend .hero__btn
		margin-bottom: 0


.gallery
	padding-top: 105px
	padding-bottom: 30px

	+r(992)
		padding-top: 70px

	h2
		text-align: center
		margin-bottom: 70px

		+r(992)
			margin-bottom: 40px

		+r(767)
			margin-bottom: 30px
	
	a
		display: block

	img
		+transition
		width: 100%
		border-radius: 50%

	&__slider
		padding-right: 40px
		padding-left: 40px


	&__slide
		border-radius: 50%
		opacity: 0.6
		padding: 120px 0

		+r(992)
			padding: 80px 0

		+r(576)
			padding: 40px 0

	.swiper-slide-active
		img
			+r(576)
				transform: scale(1.1)
				border: 2px solid $accent
				box-shadow: 0 0 25px 0 rgba($accent, .7)

	.swiper-slide-next
		opacity: 1
		z-index: 1

		img
			transform: scale(1.5)
			border: 2px solid $accent
			box-shadow: 0 0 25px 0 rgba($accent, .7)

			+r(576)
				transform: scale(1)
				border: none
				box-shadow: 0 0 2px 0 rgba($accent, 0)
	
	&__pagination
		width: 100%
		display: flex
		justify-content: center

		span
			display: block
			background-color: $accent
			width: 36px
			height: 36px
			border-radius: 50%
			margin: 0 5px
			+transition
			border: 8px solid $bg

			+r(767)
				width: 25px
				height: 25px
		
		.swiper-pagination-bullet-active
			border: 8px solid $accent
			background-color: $bg

			+r(767)
				border: 5px solid $accent

	&__prev,
	&__next
		display: block
		position: absolute
		top: 40%
		transform: translate(0, -50%)
		width: 25px
		height: 25px
		border-top: 5px solid $accent
		border-left: 5px solid $accent

	&__prev
		left: 10px
		transform: rotate(-45deg)

	&__next
		right: 10px
		transform: rotate(135deg)


.program
	+cover
	background-image: url(../img/program__bg.png)
	padding-top: 175px
	padding-bottom: 110px

	+r(992)
		padding: 145px 0 70px

	h2
		margin-bottom: 15px

	h3
		font-size: 20px
		margin-bottom: 12px

		+r(767)
			font-size: 18px
		
		+r(576)
			font-size: 16px

	&__container
		display: flex
		justify-content: flex-end

	&__subtitle
		font-weight: 700
		margin-bottom: 5px

	&__wrap
		width: 60%
		margin-right: 0

		+r(992)
			width: 80%
		
		+r(767)
			width: 100%

	&__list
		position: relative
		padding-top: 50px

		+r(767)
			padding-top: 30px

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 3px
			height: 86%
			background-color: $accent

			+r(992)
				height: 85%
			
			+r(767)
				height: 88%
			
			+r(576)
				height: 87%
			
			+r(480)
				height: 89%

	&__item
		position: relative
		margin-bottom: 20px
		font-size: 15px
		padding-left: 45px

		+r(767)
			padding-left: 30px

		+r(480)
			margin-bottom: 15px

		&::before
			content: ''
			position: absolute
			top: 5px
			left: -4px
			display: block
			width: 11px
			height: 11px
			background-color: $accent
			border-radius: 50%

		&--last
			font-size: 17px
			font-weight: 700

			&::before
				width: 25px
				height: 25px
				border: 3px solid $accent
				left: -10px
				background-color: $bg

			+r(576)
				font-size: 16px

			h2
				font-size: 30px

				+r(767)
					font-size: 24px
				
				+r(576)
					font-size: 22px
					margin-bottom: 5px

			h3
				font-size: 25px
			
				+r(767)
					font-size: 20px
				
				+r(576)
					font-size: 18px

			p
				margin-bottom: 10px

			span
				color: $text


.calculation
	padding-top: 75px
	padding-bottom: 20px


.footer
	height: 500px


// -----MODAL-----
.modal
	position: relative
	max-width: 725px
	width: 100%
	height: auto
	padding: 60px 75px 145px
	margin: 20px 0
	background-color: #fff
	z-index: 1
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.29)
	border-radius: 20px
	border: 2px solid #273a72
	display: none

	h3
		justify-content: flex-start
		margin-bottom: 50px

	&__close
		position: absolute
		right: 15px
		top: 15px
		display: block
		width: 40px
		height: 40px
		border-radius: 50%
		border: none
		cursor: pointer
		transition: all .6s
		background-color: #fff

		&:hover,
		&:focus
			outline: none
			transform: rotate(90deg)

			span
				background: red

		span
			display: block
			position: absolute
			left: 50%
			top: 50%
			background: #273a72
			transition: all .6s
			border-radius: 4px
			height: 22px
			width: 3px

			&:first-child
				transform: translate(-50%, -50%) rotate(45deg)

			&:last-child
				transform: translate(-50%, -50%) rotate(-45deg)
